nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  font-size: 36px;
  position: fixed;
  top: 0;
}

#branding {
  font-family: 'Bungee', sans-serif;
}

#compose {
  cursor: pointer;
  font-size: large;
}