textarea {
  width: 1200px;
  height: 100px;
  resize: none;
}
 
.new-tweet form div button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.new-tweet form div .counter {
  font-family: 'Bungee', sans-serif;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
}

.new-tweet {
  padding-top: 50px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
