
/* Tweet container */
article.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid #545149;
  padding: 1em;
  margin-bottom: 1em;
}
  /* Header containing avatar, name, and handle */
  article.tweet header {
    display: flex;
    flex-direction: row;
  }
    
    /* Avatar */
    article.tweet header img {
      height: 5%;
      width: 5%;
    }
    
    /* Name */
    article.tweet .name {
      margin-left: 1em;
    }
    
    /* Handle */
    article.tweet .handle {
      display: none;
      margin-left: auto;
      margin-right: 2em;
      color: lightgray;
    }

  /* Body of tweet */
  article.tweet p {
    margin-left: 1em;
  }

  /* Footer containing age of tweet and social media icons */
  article.tweet footer {
    border-top: 4px solid #545149;
    padding: .5em;
    display: flex;
    flex-direction: row;
    font-size: 60%;
    justify-content: space-between;
  }
    
    /* Social media icons */
    article.tweet footer span {
      display: flex;
      flex-direction: row;
    }

    article.tweet footer i {
      display: none;
      padding: 2px;
    }

/* Changes to container during hover state */ 
article.tweet:hover {
  font-weight: bold;
  box-shadow: 10px 10px 5px #C1C1DB;
}

article.tweet:hover i {
  display: flex;
  font-size: 15px;
}

article.tweet:hover .handle {
  display: block;
}







